// Theme 1
// Backgrounds
$theme1MainBg: hsl(222, 26%, 31%);
$theme1KeypadBg: hsl(223, 31%, 20%);
$theme1ScreenBg: hsl(224, 36%, 15%);
// Keys
$theme1Key1: hsl(30, 25%, 89%);
$theme1Key1Shadow: hsl(28, 16%, 65%);
$theme1Key1Hover: hsl(0, 0%, 100%);

$theme1Key2: hsl(6, 63%, 50%);
$theme1Key2Shadow: hsl(6, 70%, 34%);
$theme1Key2Hover: hsl(6, 67%, 63%);

$theme1Key3: hsl(225, 21%, 49%);
$theme1Key3Shadow: hsl(224, 28%, 35%);
$theme1Key3Hover: hsl(225 55.81% 74.74%);
// Text
$theme1Color1: hsl(221, 14%, 31%);
$theme1Color2: hsl(0, 0%, 100%);

// Theme 2
// Backgrounds
$theme2MainBg: hsl(0, 0%, 90%);
$theme2KeypadBg: hsl(0, 5%, 81%);
$theme2ScreenBg: hsl(0, 0%, 93%);
// Keys
$theme2Key1: hsl(45, 7%, 89%);
$theme2Key1Shadow: hsl(35, 11%, 61%);
$theme2Key1Hover: hsl(0, 0%, 100%);

$theme2Key2: hsl(25, 98%, 40%);
$theme2Key2Shadow: hsl(25, 99%, 27%);
$theme2Key2Hover: hsl(25, 87%, 57%);

$theme2Key3: hsl(185, 42%, 37%);
$theme2Key3Shadow: hsl(185, 58%, 25%);
$theme2Key3Hover: hsl(185, 46%, 54%);
// Text
$theme2Color1: hsl(60, 10%, 19%);
$theme2Color2: hsl(0, 0%, 100%);

// Theme 3
// Backgrounds
$theme3MainBg: hsl(268, 75%, 9%);
$theme3KeypadBg: hsl(268, 71%, 12%);

// Keys
$theme3Key1: hsl(281, 89%, 26%);
$theme3Key1Shadow: hsl(285, 91%, 52%);
$theme3Key1Hover: hsl(281, 69%, 40%);

$theme3Key2: hsl(176, 100%, 44%);
$theme3Key2Shadow: hsl(177, 92%, 70%);
$theme3Key2Hover: hsl(176, 100%, 50%);

$theme3Key3: hsl(268, 47%, 21%);
$theme3Key3Shadow: hsl(290, 70%, 36%);
$theme3Key3Hover: hsl(268, 41%, 37%);
// Text
$theme3Color1: hsl(52, 100%, 62%);
$theme3Color2: hsl(0, 0%, 100%);
$theme3Color3: hsl(198, 20%, 13%);
